include ../mixin/_title

block consts
  -
    const l = readYAML('assets/data/lang.yml')
    const _lang_ = l[$lang] || {code: null, region: null}

    const p = []
    if ($ogp && $ogp.use) {
      p.push('og: http://ogp.me/ns#')

      const t = $ogp.type || 'website'
      p.push(`${t}: http://ogp.me/ns/${t}#`)
    }
    const _prefix_ = p.length > 0 ? p.join(' ') : null

doctype html
html(lang=_lang_.code)
  head(prefix=_prefix_)
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    //-
      @see: https://developers.google.com/web/tools/lighthouse/audits/has-viewport-meta-tag
      Should not be used "user-scalable=no,maximum-scale=1"
      "viewport-fit=cover" corresponds to iphone X safe area
    meta(name="viewport", content="width=device-width,initial-scale=1,viewport-fit=cover")

    //- Don't show Google translation bar
    meta(name="google", content="notranslate")

    include partials/_prefetch

    +title($title)

    link(rel="icon", type="image/x-icon", href=`${SITE_ROOT}favicon.ico`)

    //- Tab icon
      include partials/_tab-icon

    //- One 180x180, no problem
      link(rel="apple-touch-icon", href=`${SITE_ROOT}touch.png`, sizes="180x180")

    if AUTHOR
      meta(name="author", content=AUTHOR)

    - const _description_ = $description || DESCRIPTION
    if _description_
      meta(name="description", content=_description_)

    //- Auto link
    meta(name="format-detection", content="telephone=no, email=no, address=no")

    //- Status bar color for Android
      meta(name="theme-color", content="#c00")

    //- iOS for full screen
    //- style: 'default' | 'black' | 'black-translucent'
      meta(name="apple-mobile-web-app-status-bar-style", content="default")
      meta(name="apple-mobile-web-app-capable", content="yes")

    include partials/_ogp

    block css
      //- link(rel="stylesheet", href=`${CSS_DIR}/style.css`, media="all")

    block head_js

  body
    block body

    block footer_js
      //- script(src=`${JS_DIR}/foobar.js`)
